body {
  background-color: #b6d0e2;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.action-buttons-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: 2rem;
  align-items: center;
}

.generate-container {
  display: flex;
  position: absolute;
  margin-top: 15rem;
}

.add-page-submitdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
